@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

h1{ 
    color:rgb(32, 32, 32);
    font-family: "Anton", sans-serif;
    font-size: 35px;
    margin: 0;
}
body{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.title{
    width: 1700px;
    height: 100vh;
    background-image: url(img/01.jpg);
    background-size: cover;
    background-position: 0px -800px;
    position: relative;
}
.logo-box{
    padding-top: 50px;
    transform: scaleX(-1);
}
.logo-box2{
    position: absolute;
    bottom: 50px;
}
.logo-box>.logo, .logo2{
    width: 200px;
    animation: box-ani 8s linear infinite;
}

.logo-box>.logo:hover, .logo2:hover{
    animation-play-state: paused;
}
@keyframes box-ani{
    0% { transform: translate(0, 0); }
	100% { transform: translate(100vw, 0px); }
}

.title>a>h1{
    font-family: "Anton", sans-serif;
    color: #fff;
    text-align: center;
    font-size: 50px;
    padding-top: 200px;
}

.title>a{
    text-decoration: none;
}
.title>a:hover>h1{
    color:red;
}
.brand-section{
    width: 1700px;
    display: flex;
    justify-content: space-between;
}
.brand>.brand-section>h1{
    text-transform: uppercase;
    width: 20%;
color: red;
    font-size: 110px;
    font-family: "Anton", sans-serif;
    line-height: 100%;
    margin: 85px;
}
.brand-gal{
    width: 75%;
    display: flex;
}
.brand-gal>img{
width: 390px;
}
.brand-text{
    font-family: 'Pretendard-Regular';
    font-size: 20px;
text-align: right;
margin: 0 100px 0px 500px;
    word-break: keep-all;
}
#lookbook{
    width: 1600px;
    margin: 0 auto;
    padding: 200px 0px;
  display: flex;
  justify-content: center;

  border-bottom: solid 1px #ccc;
}
    #lookbook>img{
    width: 280px;
}
.look1, .look2, .look3, .look4{
    display: flex;
    padding: 70px 0px;
    justify-content: space-between;
}
.look1-img, .look2-img, .look3-img, .look4-img{
    width: 600px;
    padding-left: 30px;
}
.book1,.book2,.book3, .book4{
    margin-top: 50px;
    display: flex;
    background-image: linear-gradient(to top, rgb(255, 255, 255) 25%,rgb(255, 8, 99)75%);
    width: 1000px;
    align-items: center;
    justify-content: center;
    height: 500px;
}
.book2{
    background-image: linear-gradient(to top, rgb(255, 255, 255) 25%,rgb(235, 93, 93)75%);
}
.book3{
    background-image: linear-gradient(to top, rgb(255, 255, 255) 25%,rgb(29, 71, 122)75%);
}
.book4{
    background-image: linear-gradient(to top, rgb(255, 255, 255) 25%,rgb(192, 6, 6)75%);
}
.book1>img, .book2>img, .book3>img, .book4>img {
    width: 300px;
    height: 400px;
    padding: 10px;
}
.look-text{
    width: 900px;
    word-break: keep-all;
    font-family: 'Pretendard-Regular';
    font-size: 21px;
}
footer{
    display: flex;
    padding: 0px 30px;
    justify-content: space-between;
}
footer>img{
    width: 200px;
}